img {
    width: 100%
}

body{
    background-color: #37474f;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-div {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}

canvas {
    background-color: azure;
}

.bar-chart {
    width: 49%;
}

#identities {
    width: 49%;
}

.row {
    width: 100%;
}

.row div {
    display: inline-block;
}

#identities table {
    width: 100%;
    display: block;
    border-collapse: collapse;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
}

#datas, #actual_certifs, #valid_identity, #nb_transactions, #token_price {
    width: 49%;
}






